ServicioWebConsumible/src/conf/xml-resources/web-service-references/ServicioWebSimple/wsdl/localhost_44329/ServicioWebSimple.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Hola_mundo">
        <s:complexType />
      </s:element>
      <s:element name="Hola_mundoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Hola_mundoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HolaMasNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HolaMasNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HolaMasNombreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fecha_y_Hora">
        <s:complexType />
      </s:element>
      <s:element name="Fecha_y_HoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Fecha_y_HoraResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Suma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Primer_numero" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Segundo_numero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Resta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Primer_numero" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Segundo_numero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RestaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Multiplicacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Primer_numero" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Segundo_numero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplicacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplicacionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Division">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Primer_numero" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Segundo_numero" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivisionResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Hola_mundoSoapIn">
    <wsdl:part name="parameters" element="tns:Hola_mundo" />
  </wsdl:message>
  <wsdl:message name="Hola_mundoSoapOut">
    <wsdl:part name="parameters" element="tns:Hola_mundoResponse" />
  </wsdl:message>
  <wsdl:message name="HolaMasNombreSoapIn">
    <wsdl:part name="parameters" element="tns:HolaMasNombre" />
  </wsdl:message>
  <wsdl:message name="HolaMasNombreSoapOut">
    <wsdl:part name="parameters" element="tns:HolaMasNombreResponse" />
  </wsdl:message>
  <wsdl:message name="Fecha_y_HoraSoapIn">
    <wsdl:part name="parameters" element="tns:Fecha_y_Hora" />
  </wsdl:message>
  <wsdl:message name="Fecha_y_HoraSoapOut">
    <wsdl:part name="parameters" element="tns:Fecha_y_HoraResponse" />
  </wsdl:message>
  <wsdl:message name="SumaSoapIn">
    <wsdl:part name="parameters" element="tns:Suma" />
  </wsdl:message>
  <wsdl:message name="SumaSoapOut">
    <wsdl:part name="parameters" element="tns:SumaResponse" />
  </wsdl:message>
  <wsdl:message name="RestaSoapIn">
    <wsdl:part name="parameters" element="tns:Resta" />
  </wsdl:message>
  <wsdl:message name="RestaSoapOut">
    <wsdl:part name="parameters" element="tns:RestaResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplicacionSoapIn">
    <wsdl:part name="parameters" element="tns:Multiplicacion" />
  </wsdl:message>
  <wsdl:message name="MultiplicacionSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="DivisionSoapIn">
    <wsdl:part name="parameters" element="tns:Division" />
  </wsdl:message>
  <wsdl:message name="DivisionSoapOut">
    <wsdl:part name="parameters" element="tns:DivisionResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebSimpleSoap">
    <wsdl:operation name="Hola_mundo">
      <wsdl:input message="tns:Hola_mundoSoapIn" />
      <wsdl:output message="tns:Hola_mundoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HolaMasNombre">
      <wsdl:input message="tns:HolaMasNombreSoapIn" />
      <wsdl:output message="tns:HolaMasNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Fecha_y_Hora">
      <wsdl:input message="tns:Fecha_y_HoraSoapIn" />
      <wsdl:output message="tns:Fecha_y_HoraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Suma">
      <wsdl:input message="tns:SumaSoapIn" />
      <wsdl:output message="tns:SumaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <wsdl:input message="tns:RestaSoapIn" />
      <wsdl:output message="tns:RestaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <wsdl:input message="tns:MultiplicacionSoapIn" />
      <wsdl:output message="tns:MultiplicacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Division">
      <wsdl:input message="tns:DivisionSoapIn" />
      <wsdl:output message="tns:DivisionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebSimpleSoap" type="tns:ServicioWebSimpleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hola_mundo">
      <soap:operation soapAction="http://tempuri.org/Hola_mundo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HolaMasNombre">
      <soap:operation soapAction="http://tempuri.org/HolaMasNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fecha_y_Hora">
      <soap:operation soapAction="http://tempuri.org/Fecha_y_Hora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Suma">
      <soap:operation soapAction="http://tempuri.org/Suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <soap:operation soapAction="http://tempuri.org/Resta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <soap:operation soapAction="http://tempuri.org/Multiplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://tempuri.org/Division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebSimpleSoap12" type="tns:ServicioWebSimpleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hola_mundo">
      <soap12:operation soapAction="http://tempuri.org/Hola_mundo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HolaMasNombre">
      <soap12:operation soapAction="http://tempuri.org/HolaMasNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fecha_y_Hora">
      <soap12:operation soapAction="http://tempuri.org/Fecha_y_Hora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Suma">
      <soap12:operation soapAction="http://tempuri.org/Suma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <soap12:operation soapAction="http://tempuri.org/Resta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <soap12:operation soapAction="http://tempuri.org/Multiplicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap12:operation soapAction="http://tempuri.org/Division" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWebSimple">
    <wsdl:port name="ServicioWebSimpleSoap" binding="tns:ServicioWebSimpleSoap">
      <soap:address location="https://localhost:44329/ServicioWebSimple.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebSimpleSoap12" binding="tns:ServicioWebSimpleSoap12">
      <soap12:address location="https://localhost:44329/ServicioWebSimple.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>